body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

.page {
    height: 100%;
    display: grid;
    grid-template-columns: 20vw auto;
}

.sidebar {
    height: 100%;
    width: 20vw;
    background: #37505C;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: #818181;
    display: block;
}

.main {
    height: 100%;
    margin: 0;
    grid-column-start: 2;
    background: #ffead0;
}

.box {
    
}