body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

.page {
    height: 100%;
    display: grid;
    grid-template-columns: 23vw auto;
}

.sidebar {
    height: 100%;
    width: 23vw;
    background: #37505C;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: andale mono, monospace;
    font-size: 20px;
    color: #ffead0;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}

.main {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    background: #ffead0;
}

.box {
    box-sizing:border-box;
    border:3px solid #37505C;
    width: 75%;
    height: 70%;
    padding: 3px;
    padding-left: 55px;
    padding-right: 55px;
    font-family: andale mono, monospace;
    font-size: 13px;
    line-height:1.5em;
    color: #113537;
}

.box h1 {
    letter-spacing: 0.02em;
    word-spacing: 0.01em;
    text-align: center;
    color: #113537;
}
a {
    color:#96616b
}

a:hover{
    color:#f76f8e;
}

.button {
    display:block;
}

.navhome {
    padding-top: 70px;
    text-align: center; 
}

.navphoto {
    padding: 20px;
    place-items: center;
    text-align: center; 
}

.navlink {
    padding:5px;
    place-items: center;
    text-align: center; 
}

@media (max-width: 600px) {
    .main {
      display: block;
    }
  }