.page {
    display: grid;
    grid-template-columns: 20vw auto;
  }
  .sidebar {
    position: fixed;
    width: 20vw;
    background: red;
  }
  .main {
    grid-column-start: 2;
    background: pink;
  }
  